@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using EntityLayer
@model List<Suppliers>

<div class="container mt-2">
    <h2>Müşteri Listesi</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>İsim</th>
                <th>İletişim</th>
                <th>Kod</th>
                <th>Aktif mi?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SupplierId</td>
                    <td>@item.Name</td>
                    <td>@item.ContactInfo ₺</td>
                    <td>@item.ContractInfo</td>
                    <td>@(item.IsActive ? "Evet" : "Hayır")</td>
                </tr>
            }
        </tbody>
    </table>
</div>